<%= render "shared/second-header"%>
<div class="index-container">
  <h1>計算ツールの目次</h1>
  <ul>
    <li><%= link_to 'BMI計算', bmi_calculations_path %></li>
    <li><%= link_to 'Gamma計算', gamma_calculations_path %></li>
    <li><%= link_to '点滴の滴下計算', drop_calculations_path %></li>
  </ul>
</div>
<%= render "shared/second-footer"%>