<%= render "shared/second-header"%>

<div class="p-index-container">
  <h1>お知らせ</h1>
  <h2><%= @hospital_name.name %><br><%= @ward.name %></h2>
  <h2>新着</h2>
  <ul>
  <% @notices.each do |notice| %>
      <li><%= link_to notice.title, notice_path(notice) %></li>
    <% end %>
</ul>

<div class="p-index-container-btn">
  <p><%= link_to '登録する', new_notice_path, class: "p-go-page" %> </p>
  <p><%= link_to 'トップページに戻る', root_path, class: "p-go-page" %> </p>
</div>

  <%= render "shared/second-footer"%>