<div class="items-sell-contents">
    <h1><%= link_to "#{current_user.hospital_name.name}", new_user_session_path(current_user), class: "user-name" %> </h1>
<h1><%= link_to "#{current_user.ward.name}", new_user_session_path(current_user), class: "user-name" %> </h1>
  <header class="items-sell-header">
    <%= link_to image_tag('kanpe-logo.png' , size: '50x50'), "/" %>
  </header>

  <div class="items-sell-main">
    <h2 class="items-sell-title">基準・手順を入力</h2>
     <%= form_with model: @procedure, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

   <%# 商品の詳細 %>
      <div class="form">
        <div class="weight-bold-text">
          カテゴリー
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"procedure_category"}) %>
      </div>
    <%# /商品の詳細 %>
    <%# 商品名と商品説明 %>
    <div class="new-items">
      <div class="weight-bold-text">
        タイトル
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"items-text", id:"title", placeholder:"必須: 40文字まで", maxlength:"40" %>
      <div class="items-explain">
        <div class="weight-bold-text">
          必要物品
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :material, class:"items-text", id:"text", placeholder:"必要物品を書いてください（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
        <div class="items-explain">
        <div class="weight-bold-text">
          説明
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :text, class:"items-text", id:"text", placeholder:"説明（必須 1,000文字まで）" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /商品名と商品説明 %>
     <%# 商品画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"procedure-image" %>
      </div>
    </div>
    <%# /商品画像 %>

    <%# 注意書き %>
    <div class="caution">
      <p class="sentence">
        <a href="#">禁止されている行為</a>
        を必ずご確認ください。
      </p>
      <p class="sentence">
        引用文献・参考文献がある場合は記載してください。
      </p>
    </div>
    <%# /注意書き %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "登録する" ,class:"sell-btn" %>
      <%=link_to 'もどる', procedures_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
   <% end %>
   </div>

  <footer class="items-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">カンペ利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('kanpe-logo.png' , size: '50x50'), "/" %>
    <p class="inc">
      ©︎KANPE,Inc.
    </p>
  </footer>
