<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @procedure.title %>
    </h2>
    <div class="item-img-content">
      <%= image_tag @procedure.image, class: "item-img" %>
    </div>
    
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">記載者</th>
          <td class="detail-value"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @procedure.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">必要物品</th>
          <td class="detail-value"><%= @procedure.material %></td>
        </tr>
        <tr>
          <th class="detail-item">基準・手順</th>
          <td class="detail-value"><%= @procedure.text %></td>
        </tr>
        <tr>
           <th class="detail-item">コメント一覧</th>
      <td class="detail-value"<% @comments.each do |comment| %>
  <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
  <%= comment.comment %>
</p>
      <% end %></td>
      </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png", class: "favorite-star-icon", width: "20", height: "20" %>
        <span>読みました 0</span>
      </div>
    </div>
  </div>
  <%# /商品の概要 %>

  <% if user_signed_in? %>
    <% if current_user == @procedure.user %>
      <%= link_to "編集", edit_procedure_path(@procedure), method: :get, class: "item-red-btn" %>
      <p class="or-text">or</p>
      <%= link_to "削除", procedure_path(@procedure), data: { turbo_method: :delete }, class: "item-red-btn" %>
    <% else %>
      <%= link_to 'もどる', root_path, class: "procedure-destroy" %>
    <% end %>
  <% end %>

  <div class="comment-box">
    <% if user_signed_in? %>
      <%= form_with(model: [@procedure, @comment], local: true) do |f| %>
  <%= f.text_area :comment, placeholder: "コメントする", rows: "2", class: "comment-text" %>
  <p class="comment-warn">
    相手のことを考え丁寧なコメントを心がけましょう。
    <br>
    不快な言葉遣いなどは利用制限や退会処分となることがあります。
  </p>
  <button type="submit" class="comment-btn">
    <%= image_tag "comment.png", class: "comment-flag-icon", width: "20", height: "25" %>
    <span>コメントする</span>
  </button>
   <% end %>
  <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
  <% end %>
   
    </div>
  </div>
  
  <%# 詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
  <a href="#" class="another-item"><%= @procedure.category.name %>をもっと見る</a>
  <%# //詳細ページで表示されている商品のカテゴリー名を表示しましょう %>
</div>

<%= render "shared/footer" %>
